
.compact-inc.cirru
.calcit-error.cirru
.calcit/
.yarn/
.DS_Store

js-out/
js-out-playback/
js-out-component/
js-out-fade/
js-out-cpu/
js-out-replay/
node_modules/
dist/
test-results/
playwright-report/
